
*********************************************************************
*                            AVERTISSEMENT                          *
*                                                                   *
* Tout accès non autorisé à ce serveur vous expose à des poursuites *
*                                                                   *
* Le vol de données, la corruption de données ou l'accès frauduleux *
* à ce serveur par des tentatives d'injection de codes, de scripts  *
* malveillants ou par le biais de requêtes envoyées au serveur fera *
* l'objet d'un dépôt de plainte systématique et pourra aboutir      *
* à des peines de prison de 3 à 5 ans et des amendes                *
* de 45000 à 75000 Euros.                                           *
*                                                                   *
*         (Art. 323.1, 323.2, 323.3 et 323.4 du Code Pénal)         *
*********************************************************************

