
{{ host_banner }}
===----------------------------===
- FQDN:    {{ ansible_fqdn }}
- Distro:  {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}
- Virtual: {{ 'yes' if ansible_virtualization_role == 'guest' else 'no' }}
- CPUs:    {{ ansible_processor_vcpus }}
- RAM:     {{ (ansible_memtotal_mb / 1000) | round() | int }}GB
- DISK SPACE (used) : 
{% for item in ansible_mounts %}
    - {{ item.mount }}' : {{ (item.block_used*item.block_size/1024/1024/1024) | round | int }}/{{ (item.block_total*item.block_size/1024/1024/1024) | round | int }} GB
{% endfor %}
===----------------------------===
